*{
    margin:0;
    padding:0;
}


.navhoofd>a{
    font-size: 30px;
    color:rgb(187, 16, 16);
    text-decoration: none;



}
body{
    width:100vw;
    border:4px solid black;
    margin-top: 5vh;
}
.blokken{
    border:4px;
    margin: 1%;
}
.blok1 p{
    height: 10vw;
    width: 10vw;
    background-color: black;
    position: relative;
  
    left: 40vw;


}
.blok2 p{
    
    height: 10vh;
    width: 10vh;
    background-color: red;
    

}
.blok3 p{
    height: 10vh;
    width: 10vh;
    background-color: green;
    

}
.blok4 p{
    height: 10vh;
    width: 10vh;
    background-color: yellow;


}
.blok5 p{
    height: 10vh;
    width: 10vh;
    background-color: blue;
    

}
.blok6 p{
    height: 10vh;
    width: 10vh;
    background-color: black;
    

}